body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,iframe {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
 font-family: "Microsoft YaHei";
  user-selet:none;
  -moz-user-selet:none;
  -webkituser-selet:none;
  -khtml-user-selet:none;
 -ms-user-selet:none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img,
canvas {
  height: auto;
  display: block;
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  white-space: normal;
  word-break: break-all;
}
a:hover,a:active,a:visited{
   text-decoration: none;
}
/* form */
fieldset {
  border: 0;
}
label {
  cursor: pointer;
}
input {
  outline: none;
}
input::-ms-clear {
  display: none;
}
iframe{
  border:0 none;
}
body {
  width: 100%;
  background: #fff;
  color: #333;
  font-family: "Microsoft YaHei";
}
/*head-start*/
#head{
  min-width: 1024px;
  height: 100px;
  background: url(../images/headbg.png) repeat center;
  color: #fff;
  position: relative;
}
#head .logo{
  width: 324px;
  height: 100px;
  background: url(../images/headicons.png) no-repeat 0 center;
  float: left;
}
#head .rightbg{
  width: 331px;
  height: 100px;
  background: url(../images/head_right.png) no-repeat 0 center;
  position: absolute;
  top:0;
  right: 0px;  
}
#head .links{
  position: absolute;
  top:0;
  right: 20px;
  margin-top: 10px;
  font-size: 12px;
}
#head .links span{
  float: right;
  margin:0 10px;
  cursor: pointer;
}
#head a{
  color: #fff;
}
#head a:hover{
  color: red;
}
#head #mainMenu{
  position: absolute;
  left: 370px;
  height: 100px;
  overflow: hidden;
  font-size: 16px;
  display: none;
}
#head #mainMenu ul{
  width: 100%;
  overflow: hidden;
}
#head #mainMenu ul li{
    width: 100px;
    float: left;
    line-height: 150px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    background-image: url(../images/headicons.png);
    background-repeat: no-repeat;
}
#head #mainMenu ul li#tab1{
  background-position: -373px center;
}
#head #mainMenu ul li#tab2{
  background-position: -476px center;
}
#head #mainMenu ul li#tab3{
  background-position: -570px center;
}
#head #mainMenu ul li#tab4{
  background-position: -679px center;
}
#head #mainMenu ul li#tab5{
  background-position: -774px center;
}
#head #mainMenu ul li#tab6{
  background-position: -864px center;
}
#head #mainMenu ul li.tabselected{
  background-color: #036EB8;
  border: 1px solid #37A5DB;
  border-top: none;
  border-bottom: none;
}
#jk_main_container .tab_container{
  /*min-height: 500px;*/
  min-width: 1024px;
}
#quickmenu{
  width: 37px;
  height: 244px;
  position: absolute;
  right: -40px;
  top:50%;
  margin-top: -108px;
  background-color: #595757;
}
#quickmenu  li{
  width: 37px;
  height: 61px;
  background-repeat: no-repeat;
  background-image:url(../images/quickmenu.png);
  cursor: pointer;
}
#quickmenu  li a{
  width: 100%;
  height: 100%;
  display: block;
}
#quickmenu  li:hover{
  background-color: #1B8CF2;
}
#quickmenu  li.li1{
  background-position: center 19px;
}
#quickmenu  li.li2{
  background-position: center -46px;
}
#quickmenu  li.li3{
  background-position: center -109px;
}
#quickmenu  li.li4{
  background-position: center -174px;
}
/*head-end*/

.page-content{
  padding:20px;
  background-color: #eff2f7;
}

/*companyDataAnalysis-start*/
.gy_search{
  overflow: hidden;
  margin: 0 60px;
  border-bottom: 1px dashed #d7d7d7;
}
.gy_search li{
  float: left;
  margin: 20px 30px 20px 0;
}
.gy_search li select{
  width: auto;
  display: inline-block;
  font-family: "Microsoft YaHei";
  margin-bottom: 5px;
  height: 22px;
}
.gy_search li input{
  width: 100px;
}
.gy_search li input.identify_num{
  width: 160px;
}
.gy_search li input:focus{
  box-shadow: none;
} 
.gy_search li .search{
  display: inline-block;
  background: #15b8d7;
  width: 70px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.company_data{
  background-color: #fff;
  border:1px solid #cfd0d1;
  width: 100%;
}
.risk_warning{
  background-color: #fff;
  border:1px solid #cfd0d1;
  width: 100%;
}
/*companyDataAnalysis-end*/

/*taxBankDetail-start*/
.tax_bank_title{
  height: 48px;
  border: 1px solid #d0d4d7;
  background-color: #fff;
  margin-bottom: 20px;
}
.tax_bank_title ul{
  float: left;
}
.tax_bank_title ul li{
  float: left;
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  color: #333;
  cursor: pointer;
}
.tax_bank_title ul li.active{
  border-bottom: 4px solid #17b8d4;
}
.tax_bank_title .separate{
  float: left;
  height: 26px;
  width: 1px;
  background-color: #ccc;
  margin-top: 11px;
}
.tax_bank_title .export{
  float: right;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #15b8d7;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin-top: 9px;
  margin-right: 20px;
  box-shadow: 0px 0px 4px 3px #ddd;
  cursor: pointer;
}
.tax_bank_detail{
  background-color: #fff;
  border:1px solid #cfd0d1;
  width: 100%;
  margin-bottom: 20px;
}
.tax_bank_detail .tax_table{
  margin: 16px 20px 26px 20px;
}
.tax_bank_detail .tax_table table{
  width: 100%; 
  border-top: 1px solid #939798;
  border-left: 1px solid #939798;
}
.tax_bank_detail .tax_table table tr td{
  height: 34px;
  line-height: 28px;
  border-right: 1px solid #939798;
  border-bottom: 1px solid #939798;
  padding: 0 16px;
  color: #666;
}
 .tax_bank_detail .tax_table table tr td.table_name{
  background-color: #d1f2fb;
  color: #333;
} 
.tax_bank_detail .tax_table table thead tr td{
  background-color: #d1f2fb;
  color: #333;
}
.tax_bank_detail .tax_table table tbody tr:nth-child(even) td{
  background-color: #f7f7f7;
}
.tax_bank_detail .tax_table table tbody tr:nth-child(even) td.table_name{
  background-color: #d1f2fb;
}
/*taxBankDetail-end*/

/*overallSituationAnalysis-start*/
.overall-container{

}
.grayborder{
  background-color: #fff;
  border:1px solid #cfd0d1;  
}
.overall-container .overall-left{
  background-color: #fff;
  border:1px solid #cfd0d1;
  width: 49%;
  float: left;
  position: relative;
}
.overall-title{
  color:#00afd0;
  font-size:16px;
  margin: 0 16px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.overall-title.font_red{
  color: #fc0414;
}
.select-time{
  display: inline-block;
  width: 80px;
  float: right;
  height: 20px;
  line-height: 20px;
  padding: 0 10px!important;
  font-size: 12px !important;
}
.overall-container .overall-right{
  width: 50%;
  float: right;
}
.overall-container .o-item{
  background-color: #fff;
  border:1px solid #cfd0d1;
  overflow: hidden;
}
.overall-container .overall-right-top{
  height: 400px;
}
.overall-container .overall-right-top canvas{
  width: 100%;
  display:block;
}
.overall-container .overall-right-bottom{
  margin-top: 15px;
  height: 225px;
}
.overall-container .overall-line,.overall-container .overall-list{
  background-color: #fff;
  margin-top: 20px;
  border:1px solid #cfd0d1;
  clear: both;
  overflow: hidden;
}
.bar-list{
  margin-bottom: 50px;
}
.bar-list-item{
  width: 30%;
  margin-right: 2%;
  margin-left: 1%;
  display: block;
  height: 500px;
  float: left;
}
.tax-list-select {
  float: right;
}
.tax-list-select ul li{
  display: block;
  float: left;
  position: relative;
  width: 100px;
  height: 30px;
}
.tax-list-select ul li  dl{
  position: absolute;
  width: 150px;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
  display: none;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0;
  z-index: 10;
  font-size: 14px;
  line-height: 25px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.tax-list-select ul li  dl dd{
  text-align: left;
  height: 25px;
  line-height: 25px;
  color: #555;
  padding: 0;
  margin: 0;
  text-indent: 10px;
  cursor: pointer;
}
.tax-list-select ul li  dl dd:hover{
  background-color: #EEE;
}
.tax-list-select ul li:hover dl{
  display: block;
}
.tax-list-select ul li:hover label{
  background-color: #ddd;
}
.tax-list-select ul li label{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  border-radius: 20px;
  padding: 0 10px;
  margin: 0 auto;
}
.tax-list-select ul li .Wdate{
  margin-right: 20px;
}
.overall-detail {
  overflow: hidden;
}
.overall-detail-left{
  width: 50%;
  float: left;
}
.overall-detail-right{
  width: 49%;
  float: right;
}
.riskTable{
  margin-top: 20px;
  margin-bottom: 30px;
}
.riskTable table{
  width: 95%;
  margin: 20px auto;
}
.riskTable table td{
  line-height: 30px;
  height: 30px;
  border:1px solid #ddd;
  text-align: center;
  font-size:14px;
}
.riskTable table thead td,.riskTable table thead th{
  background-color: #d2f2fa;
  line-height: 30px;
  height: 30px;
  border:1px solid #ddd;
  font-size:14px;
}
/*overallSituationAnalysis-end*/

/* analysiaReport start */
.wangEditor-menu-container {
  z-index: 100;
}
#weditor-container{
  width: auto;
  min-height: 500px;
}
#weditor-container .weditor-content{
  width: 50%;
  float: left;
  margin-top:20px;
} 
#weditor-container .weditor-content h1.title{
  text-align: center;
}
#weditor-container .weditor-content p{
  font-size: 14px;
  text-indent: 2em;
}
#weditor-container .canvas-right{
  width: 45%;
  float: right;
  margin-right: 2%;
  margin-top:20px;
}
#weditor-container .canvas-right .canvas-item {
  position: relative;
  border: 1px solid #ddd;
  padding:20px;
  margin-bottom: 20px;
}
#weditor-container .canvas-right .canvas-item .select-canvas{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #08c;
  width: auto;
  height: 22px;
  line-height: 22px;
  margin: 5px;
}
}
/* analysiaReport end */

