
@{
    ViewBag.Title = "Index";
}

<div><img src="@Url.Content("~/Content/images/top.jpg")" alt=""></div>
<div class="newsList" style="margin-bottom:20px;">
    <h1>创业团队正在招募中</h1>
    <p class="tag">2016-08-30</p>
    <div class="desc">
        <p>
            <img src="@Url.Content("~/Upload/enterprise/enterprise01.jpg")" alt="" style="margin:0 auto;">
        </p>
    </div>
</div>
