<div class="panel panel-primary col-md-8 col-md-offset-2">
    <div class="panel-heading">
        <div class="panel-title">新增书籍</div>
    </div>
    <div class="panel-body" ng-controller="BookAddCtrl">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            书名：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="最多64个字符" ng-model="bookInfo.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            类型：
                        </label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="bookInfo.type" ng-options=" type for type in typeList">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            出版日期：
                        </label>
                        <div class="col-md-10">
                            <input type="date" class="form-control" placeholder="日期格式YYYY-mm-dd" ng-model="bookInfo.pubTime  "><!-- | date: 'yyyy-MM-dd' -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            作者：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="最多16个字符" ng-model="bookInfo.author">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            价格：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="元" ng-model="bookInfo.price "> <!--| currency:'￥'-->
                        </div>
                    </div>
                    
                    <!--<div class="form-group">
                        <label class="col-md-2 control-label">
                            是否有电子书：
                        </label>
                        <div class="col-md-10">
                            <input type="checkbox">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a class="btn btn-success" ng-disabled="form.$invalid" ng-click="addBook()">保存</a>
                            <a ui-sref="booklist({bookType:0})" class="btn btn-primary">取消</a>
                            <button class="btn btn-default" ng-click="clearData()">清空表单</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
